<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Note</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://codepen.io/tkong233/pen/QWbVrgv.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Django Note Taking App</h1>
    <ul>
        {% for note in notes %}
            <li class="note-wrap">{{ note.text }}</li>
        {% endfor %}
    </ul>
    <form method="post" action="{% url 'notes:add' %}">
        {% csrf_token %}
        <input name="new_note" type="text" pattern=".{1,120}" required title="you can enter 1 to 120 characters">
        <input type="submit" value="Add">
    </form>
</body>
</html>